<mat-toolbar color="accent">
  Recipe Book
</mat-toolbar>
<mat-sidenav-container theme="forest">
  <mat-sidenav mode="side" #sidenav role="navigation" opened>
    <mat-list>
      <mat-list-item>
        <button [routerLink]='["/dash"]' mat-raised-button color="primary">Dash</button>
      </mat-list-item>
      <mat-list-item>
        <button [routerLink]='["/recipes"]' mat-raised-button color="primary">Recipes</button>
      </mat-list-item>
      <mat-list-item>
        <button [routerLink]='["/recipes/1"]' mat-raised-button color="primary">Cook</button>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>