<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add New Recipe</h5>
    <div class="row">
      <div class="col-lg-6">
        <form [formGroup]="recipeForm" novalidate (ngSubmit)="save(recipeForm)">
          <div class="form-group">
            <label for="name" class="col-md-12">Recipe Name</label>
            <input formControlName="name" type="text" class="form-control col-md-12">
            <small *ngIf="!recipeForm.controls.name.valid" class="text-danger">
              Name is required.
            </small>
          </div>

          <div class="form-group">
            <label for="Description" class="col-md-12">Description</label>
            <textarea formControlName="description" class="form-control col-md-12"></textarea>
          </div>

          <div class="form-group">
            <label for="Serves" class="col-md-12">Number of Servings</label>
            <input formControlName="serves" type="number" class="form-control col-md-12" />
          </div>

          <div formGroupName="servingSize" class="form-group">
            <label for="servingSize" class="col-md-12">Serving Size</label>
            <div class="col-md-12">
              <div class="form-inline">
                <div class="form-group">
                  <div class="form-group col-md-6">
                    <input formControlName="qty" type="number" class="form-control" placeholder="number" />
                    <small [hidden]="recipeForm.controls.servingSize.controls.qty.valid" class="text-danger">
                      Name is required.
                    </small>
                  </div>
                  <div class="form-group col-md-6">
                    <input formControlName="unit" type="text" class="form-control" placeholder="items" />
                    <small [hidden]="recipeForm.controls.servingSize.controls.unit.valid" class="text-danger">
                      must be 3 char or more.
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div formArrayName="ingredients" class="card">
            <div class="card-body">
              <div class="card-title">Ingredients</div>
              <div *ngFor="let ingredient of recipeForm.controls.ingredients.controls; let i=index">

                <div [formGroupName]="i">
                  <app-ingredient [ingredientForm]="recipeForm.controls.ingredients.controls[i]"></app-ingredient>
                </div>
                <div class="mb-2 mt-n2">
                  <a class="text-danger" *ngIf="recipeForm.controls.ingredients.controls.length > 1"
                    (click)="removeIngredient(i)">
                    ( - Remove Ingredient)
                  </a>
                </div>
              </div>
            </div>
            <div class="mx-2 mb-2 mt-n4">
              <a class="text-primary" (click)="addIngredient()"> + Add Ingredient</a>
            </div>
          </div>

          <div formArrayName="method" class="card">
            <div class="card-body">
              <div class="card-title">Method</div>
              <div *ngFor="let section of recipeForm.controls.method.controls; let i=index">

                <div [formGroupName]="i">
                  <app-method-section [sectionNumber]="i" [sectionForm]="recipeForm.controls.method.controls[i]"></app-method-section>
                </div>
                <div class="mb-2 mt-n2">
                  <a class="text-danger" *ngIf="recipeForm.controls.ingredients.controls.length > 1"
                    (click)="removeMethodSection(i)">
                    ( - Remove Section)
                  </a>
                </div>

              </div>
            </div>
            <div class="mx-2 mb-2 mt-n4">
              <a class="text-primary" (click)="addMethodSection()"> + Add Section</a>
            </div>
          </div>


          <button class="btn btn-primary my-2" type="submit" [disabled]="!recipeForm.valid">Add!</button>
        </form>
      </div>
      <div class="col-lg-6">
        <pre class="col-lg-6">
              {{recipeForm.value | json}}
            </pre>
        <p>
          {{recipeForm.status}}
        </p>
      </div>
    </div>
  </div>
</div>