<div class="form-row" [formGroup]="sectionForm">

  <div class="form-group col-md-2">
    <label>Section {{sectionNumber + 1}}</label>
    <input class="form-control" type="number" formControlName="section" />
    <small [hidden]="sectionForm.controls.section.valid" class="text-danger">
      Section is required.
    </small>
  </div>

  <div formGroupName="time" class="form-group col-md-2">
    <label>Time</label>
    <input class="form-control" type="number" formControlName="value" />
    <small [hidden]="sectionForm.controls.time.controls.value.valid" class="text-danger">
      Time is required.
    </small>
  </div>

  <div formGroupName="time" class="form-group col-md-6">
    <label>Unit</label>
    <input class="form-control" type="text" formControlName="unit" />
    <small [hidden]="sectionForm.controls.time.controls.unit.valid" class="text-danger">
      Unit is required.
    </small>
  </div>

  <div formArrayName="steps" class="card col-md-12">
    <div class="card-body">
      <div *ngFor="let step of sectionForm.controls.steps.controls; let j=index">
        <div [formGroupName]="j">
          <app-method-step [stepNumber]="j" [stepForm]="sectionForm.controls.steps.controls[j]"></app-method-step>
        </div>
        <div class="mb-2 mt-n2">
          <a class="text-danger" *ngIf="sectionForm.controls.steps.controls.length > 1" (click)="removeMethodStep(j)">
            ( - Remove Step )
          </a>
        </div>
      </div>
    </div>
    <div class="mx-2 mb-2 mt-n4">
        <a class="text-primary" (click)="addMethodStep()"> + Add Step</a>
      </div>
  </div>

</div>